/* Global Variables*/
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
html,
body {
  box-sizing: border-box;
  background-color: turquoise;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Patrick Hand";
}
/* Header*/
#header {
  font-size: 48px;
}
/* instructions down the header*/
.instructions {
  margin-top: 24px;
  font-size: 24px;
}
/* Buttons*/
button {
  height: 40px;
  width: 150px;
  font-size: 24px;
  background-color: #ff717e;
  border-color: #ff717e;
  border-radius: 10px;
  padding: auto;
  margin: 50px auto 20px auto;
  font-family: inherit;
}
.button {
  display: flex;
  gap: 50px;
}
/* Rainbow Checkbox*/
.rainbow {
  font-size: 24px;
}
/* Grid Conatiner*/
#container {
  display: grid;
  height: 500px;
  width: 500px;
  background-color: white !important;
  border: solid #00ff00;
  border-radius: 1px;
  cursor: crosshair;
  /* to stop the grids from being dragged so that it cant apply perma click*/
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/* color picker*/
.colorpicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
#colorpicker {
  padding: 0;
}
#colorpickerbutton {
  margin-top: 15px;
  text-align: center;
}
input[type="color"] {
  border: none;
  -webkit-appearance: none;
  width: 50px;
  height: 50px;
  background: transparent;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}
