@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
html,
body {
  box-sizing: border-box;
  background-color: turquoise;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Patrick Hand";
}
#header {
  font-size: 48px;
}
button {
  height: 40px;
  width: 150px;
  font-size: 24px;
  background-color: #ff717e;
  border-color: #ff717e;
  border-radius: 10px;
  padding: auto;
  margin: 50px auto 20px auto;
  font-family: inherit;
}
.button {
  display: flex;
  gap: 50px;
}
#container {
  display: grid;
  height: 500px;
  width: 500px;
  background-color: white !important;
  border: solid #00ff00;
  border-radius: 1px;
  cursor: crosshair;
}
.rainbow {
  font-size: 24px;
}
